# aiohttp                       ==3.8.3
# aiosignal                     ==1.2.0
# alabaster                     ==0.7.12
# anaconda-client               ==1.9.0
# anaconda-navigator            ==2.3.2
# anaconda-project              ==0.10.2
anyio                         
appdirs                       
argon2-cffi                   
argon2-cffi-bindings          
arrow                         
arviz                         
astroid                       
astropy                       
asttokens                     
async-timeout                 
atomicwrites                  
attrs                         
Automat                       
autopep8                      
Babel                         
backcall                      
backports.functools-lru-cache 
backports.tempfile            
backports.weakref             
bcrypt                        
beautifulsoup4                
binaryornot                   
bitarray                      
bkcharts                      
black                         
bleach                        
bokeh                         
boto3                         
botocore                      
Bottleneck                    
brotlipy                      
CacheControl                  
cachetools                    
certifi                       
cffi                          
cftime                        
chardet                       
charset-normalizer            
click                         
cloudpickle                   
clyent                       
colorama                      
colorcet                      
commonmark                    
comtypes                      
conda                         
conda-build                   
conda-content-trust           
conda-pack                    
conda-package-handling        
conda-repo-cli                
conda-token                   
conda-verify                  
constantly                    
convertdate                   
cookiecutter                  
cryptography                  
cssselect                     
cycler                        
Cython                        
cytoolz                       
daal4py                       
dask                          
datashader                    
datashape                     
debugpy                       
decorator                     
defusedxml                    
diff-match-patch              
distlib                       
distributed                   
distro                        
docutils                      
entrypoints                   
ephem                         
et-xmlfile                    
executing                     
fastjsonschema                
fbprophet                     
filelock                      
flake8                        
Flask                         
Flask-Cors                    
Flask-RESTful                 
fonttools                     
frozenlist                    
fsspec                        
future                        
gensim                        
glob2                         
google-api-core               
google-auth                   
google-cloud-core             
google-cloud-storage          
google-crc32c                 
google-resumable-media        
googleapis-common-protos      
greenlet                      
grpcio                        
h5py                          
HeapDict                      
hijri-converter               
holidays                      
holoviews                     
hvplot                        
hyperlink                     
idna                          
imagecodecs                   
imageio                       
imagesize                     
importlib-metadata            
incremental                   
inflection                    
iniconfig                     
intake                        
intervaltree                  
ipykernel                     
ipython                       
ipython-genutils              
ipywidgets                    
isort                         
itemadapter                   
itemloaders                   
itsdangerous                  
jdcal                         
jedi                          
Jinja2                        
jinja2-time                   
jmespath                      
joblib                        
json5                         
jsonschema                    
jupyter                       
jupyter-client                
jupyter-console               
jupyter-core                  
jupyter-server                
jupyterlab                    
jupyterlab-pygments           
jupyterlab-server             
jupyterlab-widgets            
keyring                       
kiwisolver                    
korean-lunar-calendar         
lazy-object-proxy             
libarchive-c                  
llvmlite                      
locket                        
LunarCalendar                 
lxml                          
Markdown                      
MarkupSafe                    
matplotlib                    
matplotlib-inline             
mccabe                        
menuinst                      
mistune                       
mkl-fft                       
mkl-random                    
mkl-service                   
mock                          
mpmath                        
msgpack                       
multidict                     
multipledispatch              
multitasking                  
munkres                       
mypy-extensions               
navigator-updater             
nbclassic                     
nbclient                      
nbconvert                     
nbformat                      
nest-asyncio                  
netCDF4                       
networkx                      
nltk                          
nose                          
notebook                      
numba                         
numexpr                       
numpy                         
numpydoc                      
olefile                       
openpyxl                      
packaging                     
pandas                        
pandocfilters                 
panel                         
param                         
paramiko                      
parsel                        
parso                         
partd                         
pathlib                       
pathspec                      
patsy                         
pep517                        
pep8                          
pexpect                       
pickleshare                   
pigar                         
Pillow                        
pip                           
pkginfo                       
platformdirs                  
plotly                        
pluggy                        
poyo                          
prometheus-client             
prompt-toolkit                
prophet                       
Protego                       
protobuf                      
psutil                        
ptyprocess                    
pure-eval                     
py                            
pyasn1                        
pyasn1-modules                
pycodestyle                   
pycosat                       
pycparser                     
pyct                          
pycurl                        
PyDispatcher                  
pydocstyle                    
pyerfa                        
pyflakes                      
Pygments                      
PyHamcrest                    
PyJWT                         
pylint                        
pyls-spyder                   
PyMeeus                       
PyNaCl                        
pyodbc                        
pyOpenSSL                     
pyparsing                     
pyreadline                    
pyrsistent                    
PySocks                       
pystan                        
pytest                        
python-dateutil               
python-lsp-black              
python-lsp-jsonrpc            
python-lsp-server             
python-slugify                
python-snappy                 
pytz                          
pyviz-comms                   
PyWavelets                    
pywin32                       
pywin32-ctypes                
pywinpty                      
PyYAML                        
pyzmq                         
QDarkStyle                    
qstylizer                     
QtAwesome                     
qtconsole                     
QtPy                          
queuelib                      
regex                         
requests                      
requests-file                 
resolvelib                    
rich                          
rope                          
rsa                           
Rtree                         
ruamel.yaml                   
ruamel.yaml.clib              
ruamel-yaml-conda             
s3transfer                    
scikit-image                  
scikit-learn                  
scikit-learn-intelex          
scipy                         
Scrapy                        
seaborn                       
Send2Trash                    
service-identity              
setuptools                    
setuptools-git                
sip                           
six                           
smart-open                    
sniffio                       
snowballstemmer               
sortedcollections             
sortedcontainers              
soupsieve                     
Sphinx                        
sphinxcontrib-applehelp       
sphinxcontrib-devhelp         
sphinxcontrib-htmlhelp        
sphinxcontrib-jsmath          
sphinxcontrib-qthelp          
sphinxcontrib-serializinghtml 
spyder                        
spyder-kernels                
SQLAlchemy                    
stack-data                    
statsmodels                   
sympy                         
tables                        
tabulate                      
TBB                           
tblib                         
tenacity                      
terminado                     
testpath                      
text-unidecode                
textdistance                  
threadpoolctl                 
three-merge                   
tifffile                      
tinycss                       
tldextract                    
toml                          
tomli                         
toolz                         
tornado                       
tqdm                          
traitlets                     
Twisted                       
twisted-iocpsupport           
typed-ast                     
typing_extensions             
ujson                         
Unidecode                     
urllib3                       
w3lib                         
watchdog                      
wcwidth                       
webencodings                  
websocket-client              
Werkzeug                      
wheel                         
widgetsnbextension            
win-inet-pton                 
win-unicode-console           
wincertstore                  
wrapt                         
xarray                        
xlrd                          
XlsxWriter                    
xlwings                       
yapf                          
yarl                          
yfinance                      
zict                          
zipp                          
zope.interface                ==5.4.0